@model MvcWhatsUp.Models.User
@{
    ViewData["Title"] = "Create User";
}
<h1>@ViewData["Title"]</h1>


<h4>New User</h4>
<form action="/User/Create" method="post">

    <div class="form-group py-2">
        <label for="name">Name:</label>
        <input type="text" id="UserName" name="UserName" class="form-control" placeholder="Your name" required value="@Model?.UserName" />
    </div>

    <div class="form-group py-2">
        <label for="mobileNumber">Mobile Number:</label>
        <input type="text" id="MobileNumber" name="MobileNumber" class="form-control" placeholder="Your mobile number" required value="@Model?.MobileNumber"/>
    </div>

    <div class="form-group py-2">
        <label for="emailAdress">E-mail adress:</label>
        <input type="text" id="EmailAdress" name="EmailAdress" class="form-control" placeholder="Your email" required value="@Model?.EmailAdress" />
    </div>

    <div class="form-group py-2">
        <label for="password">Password:</label>
        <input type="text" id="Password" name="Password" class="form-control" placeholder="Your password" required value="@Model?.Password"/>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

<a href="/User/Index">Back to list</a>
