@model List<SomerenMVC.Models.User>

@{
    ViewData["Title"] = "User Page";
}

<a href="/User/Create">Create New</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th class="col">Id</th>
            <th class="col">Name</th>
            <th class="col">Mobile number</th>
            <th class="col">Email adress</th>
            <th class="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var user in Model)
            {
                <tr>
                <th scope="row">@user.UserId</th>
                <td>@user.UserName</td>
                <td>@user.MobileNumber</td>
                <td>@user.EmailAdress</td>
                <td>
                        <a href="/User/Edit/@user.UserId">Edit</a>
                        <a href="/User/Delete/@user.UserId">Delete</a>
                </td>
                </tr>
            }
        }
    </tbody>
</table>
