@model ProjectDatabases.Models.Activity

@{
    ViewData["Title"] = "Edit Activity";
}
<h1>@ViewData["Title"]</h1>
<form action="/Activities/Edit" method="POST">
    <input hidden type="number" name="activityid" value="@Model?.ActivityId" />

    <div class="form-group py-2">
        <label for="activityname">Name:</label>
        <input type="text" id="activityname" name="activityname" class="form-control" required value="@Model?.ActivityName" />
    </div>

    <div class="form-group py-2">
        <label for="starttime">Start Time:</label>
        <input type="datetime-local" id="starttime" name="starttime" class="form-control" required value="@Model?.ConvertSqlToHtmlDateTime(Model.StartTime)" />
    </div>

    <div class="form-group py-2">
        <label for="endtime">End Time:</label>
        <input type="datetime-local" id="endtime" name="endtime" class="form-control" required value="@Model?.ConvertSqlToHtmlDateTime(Model.EndTime)" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
@* Error message *@
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <h2>An error occured!</h2>
        @TempData["ErrorMessage"]
    </div>
}
<a href="/Activities/Index">Back to Activities list</a>