@model ProjectDatabases.Models.Room
@{
	ViewData["Title"] = "Add Room";
	string? errorMessage = (string)ViewData["ErrorMessage"];
}

<h4>@errorMessage</h4>


<h4>Add New Room</h4>
<form action="/Rooms/Create" method="POST">
	<div class="form-group py-2">
		<label for="RoomNumber">Room Number:</label>
		<input type="text" id="RoomNumber" name="RoomNumber" class="form-control" required value="@Model?.RoomNumber" />
	</div>

	<div class="form-group py-2">
		<label for="Capacity">Capacity:</label>
		<input type="number" id="Capacity" name="Capacity" class="form-control" min="1" max="10" required value="@Model?.Capacity" />
	</div>

	<div class="form-group py-2">
		<label for="Type">Type:</label>
		<input type="text" id="Type" name="Type" class="form-control" required value="@Model?.Type" />
	</div>

	<button type="submit" class="btn btn-primary">Add</button>
</form>

<a href="/Rooms/Index">Back to list</a>