@model List<ProjectDatabases.Models.Room>

@{
	ViewData["Title"] = "Rooms";
}

<div class="text-center">
	<h1 class="display-4">Rooms</h1>
</div>
<a href="/Rooms/Create"> Create New</a>
<table class="table table-dark table-hover">
	<thead>
		<tr>
			<th>Room_number</th>
			<th>Capacity</th>
			<th>Type</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@{
			foreach (var room in Model)
			{
				<tr>
					<td>@room.RoomNumber</td>
					<td>@room.Capacity</td>
					<td>@room.Type</td>
					<td>
						<a href="/Rooms/Edit/@room.RoomID">Edit</a> |
						<a href="/Rooms/Delete/@room.RoomID">Delete</a> |
						@if (room.Type == "student")
						{
							<a href="/Rooms/DormitoryStudents/@room.RoomID">Display Dormitory</a>
						}
					</td>
				</tr>
			}
		}
	</tbody>
</table>
