@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to Project Databases 1.3</h1>
    <h6>by Group 1B</h6>
    <h6>Kuba Kubicki, Aloys Stekkinger, Tarik &Uuml;nal and Jayden Meulemans</h6>
</div>
